*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing:border-box;
}

*{
	font-family: 'Quicksand', sans-serif;
	font-weight: lighter;
	color: #0B64AF;
}

@media only screen and (max-width: 600px) {
	.image {
		display:none;
	}
	.col-4 {
		display:none;
	}
}

h1 {
	font-size: 40px;
	margin-bottom: 2px;
}

h2 {
	font-size: 24px;
}
.image {
	width: 1200px;
	text-align: center;
}
.grid {
	margin: 1% auto;
	max-width: 1200px;
	width: 100%;
}
.row {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap

}

.col-6{
	width:50%;
	text-align: right;
}

.col-4{
	width:33.33%;
	text-align:center;
}